.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 높이에 맞추어 가운데 정렬 */
}

/* 프레임 바깥선, width와 height는 고정하여 사용 */
.outline {
  width: 720px;
  height: 1280px;
  border-color: #e2e2e2;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 내부 요소 사이의 공간을 균등하게 배분 */
  padding: 20px; /* 내부 여백 설정 */
  text-align: center; /* 내부 텍스트 가운데 정렬 */
}

/* 버튼 스타일 */
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* 아래쪽에 정렬 */
  margin-top: auto; /* 나머지 공간을 모두 차지하여 아래쪽에 배치 */
  position: relative;
}

.button {
  padding: 100px 150px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-size: 24px;
}

.button:hover {
  background-color: #45a049;
}

/* 가로 선 스타일 */
.button::before {
  content: '';
  position: absolute;
  top: 100px;
  left: 100;
  right: 1;
  height: 1px;
  background-color: #ccc;
}

/* SUBWAY를 화면 왼쪽에 정렬 */
.subway {
  text-align: left;
  margin-left: 20px;
  position: relative;
}

/* SUBWAY 아래 선 스타일 */
.subway::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ccc;
}
